<nav>
    <ul>
        <%if user_signed_in?%>
            <li>Inventario</li>
            <li>Ventas</li>
            <li>Sucursales</li>
            <li>Configuracion</li>
        <%end%>
    </ul>
</nav>