<div class="full-height row middle-xs white-text center-xs main-backgroun no-margin">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
        <div class="box">
            <div class="big-padding dark-blue white-text" style="border-radius: 5px;">
                <div class="red white-text absolute mdl-shadow--2dp" style="position: relative;top: -90px; padding: 10px; border-radius: 5px;">
                    <h1 class="no-margin white-text big-font pacifico-font">InventariosCo</h1>
                    <p class="no-margin">Control de tus productos y conecta con tus clientes</p>
                </div>
                <div class="">
                    <%= render 'devise/sessions/new'%>
                </div>
            </div>
        </div>
    </div>
</div>