html,body{
    margin: 0;
    padding: 0;
    background-color: #D8E2E8;
    height: 100%
}

.big-padding{
    padding: 10px 15px;
}

.relative{
    position: relative;
}

.absoulte{
    position: absolute;
}
.fixed{
    position: fixed;
}

.full-height{
    height: 100%;
}

.text-center{
    text-align: center;
}

.no-margin{
    margin: 0;
}

.top-space{
    margin-top: 1em;
}

.no-decoration{
    text-decoration: none;
}

.btn-floating{
    position: fixed;
	bottom: 2em;
	right: 2em;
	z-index: 100;
}
