<div class="row center-xs top-space">
  <div class="col-xs-12 col-sm-8 col-lg-10">
    <div class="box red mdl-shadow--2dp">
      <h1 class="big-font">Productos</h1>
      <div class="row top-space">
        <% @products.each do |product|%>
          <div class="col-xs-12 col-sm-4 middle-xs">
            <div class="box">
              <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand" style="background-image: url(<%=product.avatar.url(:medium)%>); background-position: center; background-size: cover;">
                </div>
              <div class="mdl-card__supporting-text">
                <h2 class="mdl-card__title-text black-text" ><%= product.name%></h2>
                <%= product.description%>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                  detalles
                </a>
              </div>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>