<div class="row center-xs">
    <div class="col-xs-12 col-lg-10 white mdl-shadow--2dp">
        <div class="box">
            <h1>Agregar Producto</h1>
            <%= render 'form', product: @product %>
            <%= link_to 'regresar al listado', products_path %>
            <%= @company %>
        </div>
    </div>
</div>


